* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: black;
}

body {
  background-color: black;
  min-height: 100vh;
}

/*---Header---*/
.menu-links {
  margin: 1em auto;
}

.hover-effect:hover {
  opacity: 0.5;
  transition: 0.2s ease;
}
/*------*/

/*-----------------INDEX-------------------*/

/*---Cover---*/
.cover-img {
  width: 100%;
  height: auto;
}
/*------*/

/*---What we do---*/
.btn-contact:hover {
  transition: 0.3s ease;
  background-color: #fff !important;
  color: #000 !important;
}
.main-info {
  max-width: 1580px;
}
/*-----------------------------------------*/

/*-----------------SERVICES-------------------*/
.services-grid-text {
  min-height: 27vh;
}
/*--------------------------------------------*/

/*----------------ABOUT-US--------------------*/
.about-us {
  background-image: url(./assets/about-background.webp);
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(60%);
  background-color: black;
}

.dark-background {
  background-color: #000;
}
/*--------------------------------------------*/

/*----------------CONTACT US------------------*/
.contact-form {
  width: 95%;
}

textarea.form-control {
  /* min-height: calc(1.5em + 0.75rem + 2px); */
  height: 10em;
}

@media screen and (min-width: 768px) {
  .contact-form {
    width: 60%;
  }
}
/*--------------------------------------------*/

/*FOOTER*/
footer {
  position: relative;
  bottom: 0;
}
/*--------------------*/

/*---Media queries---*/

/*---Ipad---*/
@media screen and (min-width: 768px) {
  .cover-text {
    background: url(./assets/cover-background.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
  }
  .services-grid-text {
    min-height: initial;
  }
  .about-us {
    height: 65vh;
  }
}

/*---Desktop---*/
@media screen and (min-width: 1024px) {
  .cover-text {
    height: 100vh;
  }
  .services-grid {
    max-width: 1580px;
  }
  .about-us {
    height: 90vh;
  }
}
